.first{

    background-image: linear-gradient(to right, #9F1D35
    0%, black 100%);
    // --background:linear-gradient(   #c33764 , #1d2671);
  // background-color:#BF0A30;
    // background-image: url('../../assets/booknow.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    color: white;
    text-align: center!important;
    
    height: 150px !important;
    // background-position: 0% 14%;
  }
  