<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=2>
          <ion-icon (click)="GoBack()" name="arrow-round-back" size="large"></ion-icon>
      </ion-col>
      <ion-col size=8 text-center>
          <ion-title>booking</ion-title>
        </ion-col>
        <ion-col size=2>

          </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="first" (click)="hourly()">
    <ion-card-header>
       
        <ion-card-title style="color:white;margin-top: 35px">HOURLY BOOKING</ion-card-title>

      </ion-card-header>
    
   

</ion-card>


<ion-card class="first" (click)=" oneway()">
  <ion-card-header>
     
      <ion-card-title style="color:white;margin-top: 35px">ONE WAY BOOKING</ion-card-title>

    </ion-card-header>
  


</ion-card>

<ion-card class="first" (click)="visitBooking()">
  <ion-card-header>
     
      <ion-card-title style="color:white;margin-top: 35px">CURRENT RIDES</ion-card-title>

    </ion-card-header>
  
    

</ion-card>

</ion-content>
